.input {
  border: none;
  background: none;
  width: 100%;
  border-bottom: 1px solid var(--tertiary-element-color, #424242);
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  outline: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  padding-left: 0.5rem;
}

.input:focus {
  border-bottom: 1px solid var(--another-color, #4285f4);
}
