.movies {
  padding-block: 8rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.movies__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
  justify-content: center;
  column-gap: 2.8rem;
  row-gap: 3.2rem;
  list-style: none;
}

.movies__more:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies__more {
  background: #2f2f2f;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
  border: none;
  padding-block: 1rem;
  transition: all 0.2s linear;
  border-radius: 0.6rem;
}

@media screen and (max-width: 1024px) {
  .movies__grid {
    column-gap: 2.4rem;
    row-gap: 3.5rem;
  }

  .movies {
    gap: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .movies {
    padding-top: 5rem;
  }

  .movies__grid {
    row-gap: 1.6rem;
  }
}
