.error-message {
  color: #ee3465;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.6rem;
}

.error-message_type_profile {
  display: block;
  width: 100%;
  text-align: end;
}
