.progress {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.progress_type_green {
  max-width: 22.8rem;
}

.progress_percentage {
  padding-block: 0.9rem;
  padding-inline: 1.4rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.progress__title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #8b8b8b;
}

@media screen and (max-width: 768px) {
  .progress_type_green {
    max-width: 14rem;
  }
}

@media screen and (max-width: 600px) {
  .progress_percentage,
  .progress__title {
    font-size: 1.1rem;
    line-height: normal;
  }

  .progress_type_green {
    max-width: 10rem;
  }
}
