.movie-form {
  margin-top: 7rem;
  padding-bottom: 4.3rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.6rem;
  color: #fff;
  border-bottom: 1px solid #aaaaaa20;
}

@media screen and (max-width: 1024px) {
  .movie-form {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .movie-form {
    padding-bottom: 6.3rem;
    gap: 3rem;
    padding-inline: 0.4rem;
  }
}
