.movies-page,
.movie,
.movies,
.movie__info,
.movie,
.movies__grid,
.movies__more {
  width: 100%;
}

.movies-page {
  padding-inline: 7rem;
}

@media screen and (max-width: 1024px) {
  .movies-page {
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .movies-page {
    padding-inline: 1rem;
  }
}
