.header {
  width: 100%;
  padding-block: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 7rem;
}

.header__logo {
  transition: all 0.3s linear;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__nav,
.header__nav-list,
.header__account,
.header__account-icon {
  display: flex;
}

.header__account {
  gap: 1.3rem;
}

.header__account-icon {
  width: 3rem;
  height: 3rem;
  background: #313131;
  border-radius: 0.6rem;
}

.header__nav {
  gap: 4rem;
}

.header__account,
.header__nav-list,
.header__account-icon {
  align-items: center;
  justify-content: center;
}

.header__nav-list {
  list-style: none;
  gap: 3rem;
}

.header__link,
.header__signin,
.header__account {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  transition: all 0.2s linear;
}

.header__link,
.header__account {
  color: #fff;
}

.header__link:hover,
.header__account:hover {
  opacity: 0.7;
}

.header__signin:hover,
.header__burger:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__signin {
  color: #000;
  border-radius: 0.3rem;
  background: var(--primary-element-color, #3ddc84);
  width: 7.6rem;
  padding-block: 0.8rem;
  display: block;
  text-align: center;
}

.header__burger {
  width: 4.4rem;
  height: 4.4rem;
  background: url(../../images/burger.svg) center;
  border: none;
  transition: all 0.2s linear;
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }

  .header__account,
  .header__movies,
  .header__saved {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-inline: 1.8rem;
  }

  .header__nav-list {
    gap: 1.4rem;
  }

  .header__signin,
  .header__link {
    font-size: 1rem;
  }

  .header__signin {
    width: 5.4rem;
  }
}
