.profile-form,
.profile-form__info,
.profile-form__divider,
.profile__buttons {
  width: 100%;
}

.profile-form {
  margin-top: 12.3rem;
}

.profile-form__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.profile-form__label {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: normal;
}

.profile-form__input {
  border: none;
  background: none;
  color: #fff;
  text-align: right;
  width: 80%;
  text-overflow: ellipsis;
}

.profile-form__divider {
  margin-block: 1.6rem;
  height: 0.1rem;
  border: none;
  background: var(--tertiary-element-color, #424242);
}

@media screen and (max-width: 768px) {
  .profile-form {
    margin-top: 96px;
  }
}
