.submit {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  padding-block: 1.5rem;
  background: var(--another-color, #4285f4);
  border: none;
  border-radius: 0.3rem;
  transition: all 0.2s linear;
}

.submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .submit {
    font-size: 1.2rem;
  }
}
