*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --primary-bg-color: #202020;
}

body {
  background: var(--primary-bg-color, #202020);
  width: 100%;
}
