@import './vendor/inter/inter.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --primary-bg-color: #202020;
  --secondary-bg-color: #272727;
  --tertiary-bg-color: #073042;
  --primary-element-color: #3ddc84;
  --seconday-element-color: #303030;
  --tertiary-element-color: #424242;
  --another-color: #4285f4;
  --secondary-text-color: #8b8b8b;
  scroll-behavior: smooth;
}

.page {
  font-family: 'Inter', Arial, sans-serif;
  background: var(--primary-bg-color, #202020);
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
