.profile__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 7rem;
}

.profile__buttons {
  gap: 1.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 22rem;
}

.profile__edit,
.profile__signout {
  font-size: 1.3rem;
  line-height: normal;
  border: none;
  background: none;
  transition: all 0.2s linear;
}

.profile__edit {
  font-weight: 400;
  color: #fff;
}

.profile__signout {
  color: #ee3465;
  font-weight: 500;
}

.profile__edit:hover,
.profile__signout:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__buttons {
    margin-top: 21rem;
  }
}

@media screen and (max-width: 600px) {
  .profile__data {
    padding-top: 7rem;
    padding-bottom: 4rem;
    min-height: calc(100vh - 8rem);
    justify-content: space-between;
  }
}
